body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-global {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper-global::before,
.wrapper-global::after {
  content: "";
  visibility: hidden;
}

.wrapper-global::before {
  background-image: url("../img/slide-2.png");
}

.wrapper-global::after {
  background-image: url("../img/slide-3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container--underlining {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px 0;
  padding-bottom: 0;
}

.main-nav {
  font-weight: 700;
}

.main-nav__list a,
.user-block a {
  color: #ffffff;
}

.main-nav__list a {
  padding: 6px 16px;
  border: none;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 3px;
}

.main-nav__item {
  margin-left: 3px;
}

.main-nav__item span,
.useful-links span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav__item--with-dropdown {
  position: relative;
  padding-bottom: 10px;
}

.main-nav__dropdown {
  display: none;
  position: absolute;
  padding-bottom: 5px;
  width: 143px;
  left: -5px;
  top: 28px;
  color: #323232;
  font-weight: 400;
  z-index: 10;
  font-size: 14px;
  line-height: 16px;
}

.main-nav__item--with-dropdown:hover .main-nav__dropdown,
.main-nav__item--with-dropdown:focus .main-nav__dropdown {
  display: block;
}

.main-nav__item .modal {
  padding: 0;
}

.main-nav__dropdown {
  overflow: hidden;
}

.dropdown-item a {
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-nav {
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.main-nav__list,
.main-nav__dropdown {
  list-style: none;
  padding: 0;
}

.modal {
  padding: 20px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

.page-header__search,
.login,
.cart {
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.search-wrapper {
  position: absolute;
  width: 341px;
  right: 0;
  top: 40px;
  z-index: 10;
  display: none;
}

.page-header__search:hover .search-wrapper,
.page-header__search:focus .search-wrapper {
  display: block;
}

.login-wrapper {
  position: absolute;
  right: 0;
  top: 40px;
  display: none;
  z-index: 5;
  width: 277px;
}

.login:hover .login-wrapper,
.login:focus .login-wrapper {
  display: block;
}

.login a,
.cart a {
  color: #ffffff;
  font-weight: 500;
  padding: 7px 16px;
  padding-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  border: 0;
}

.main-nav__item:hover>a,
.main-nav__item:focus>a,
.page-header__search:hover>a,
.page-header__search:focus>a,
.login:focus>a,
.login:hover>a,
.cart:focus>a,
.cart:hover>a {
  border-radius: 20px;
  color: #323232;
  background-color: #f7f6f3;
  border-bottom: 0;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form__tips {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

.login-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-form__tips a {
  padding: 0;
  color: #323232;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #adacaa;
}

.login-form__tips a:hover,
.login-form__tips a:focus {
  color: #e84d37;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #e84d37;
}

.users-block {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}

.main-nav__dropdown a {
  display: block;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #323232;
  text-decoration: none;
  border: 0;
}

.dropdown-item--current {
  background-color: #d07058;
}

.dropdown-item--current>a {
  color: #ffffff;
  border: none;
}

.login,
.cart {
  position: relative;
}

.cart-wrapper {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 540px;
  z-index: 300;
}

.login svg,
.cart svg {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login:hover path,
.login:focus path,
.cart:not(.cart--cart-with-goods):hover path,
.cart:not(.cart--cart-with-goods):focus path,
.cart:hover circle,
.cart:focus circle {
  fill: #000000;
}

.page-header__search,
.login {
  margin-right: 10px;
}

.cart:hover .cart-wrapper,
.cart:focus .cart-wrapper {
  display: block;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-form p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.order-form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.order-form img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.order-form__item span {
  color: #999999;
}

.order-form__delete {
  top: 10px;
  left: -2px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.order-form__delete::before,
.order-form__delete::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #323232;
  border-radius: 1px;
}

.order-form__delete::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.order-form__delete::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.order-form__product-title {
  width: 216px;
}

.order-form__total-price {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

.order-form a {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-left: 16px;
}

.order-form a:hover,
.order-form a:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background: #f28065;
}

.order-form a:active {
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.page-header__search a {
  padding: 7px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-header__search:hover path,
.page-header__search:focus path {
  fill: #000000;
}

.main-nav__item a:active {
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

li.dropdown-item:active a {
  background-color: #f6b5a5;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-item:not(.dropdown-item--current) a:hover,
.dropdown-item:not(.dropdown-item--current) a:focus {
  background-color: #fbded7;
  border-radius: 0;
  border: none;
}

.main-nav__dropdown .dropdown-item--new {
  font-weight: 700;
  position: relative;
}

.main-nav__dropdown .dropdown-item--new::after {
  position: absolute;
  content: "";
  width: 128px;
  height: 1px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.2)
}

.extra-info {
  width: 100%;
  font-weight: 700;
  text-align: right;
}

.extra-info p {
  margin: 0;
}

.extra-info .extra-info__header {
  font-size: 14px;
  line-height: 16px;
}

.extra-info .extra-info__tel {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.slider {
  position: relative;
  padding-top: 280px;
  margin-bottom: 8px;
  text-align: center;
}

.slider__list {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slider__item-title {
  width: 705px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}

.slider__toggles label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggles label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__toggles {
  position: absolute;
  bottom: 56px;
  left: 0;
  z-index: 1;
  font-size: 0;
}

#slider-input-1:checked~.wrapper-global {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#slider-input-2:checked~.wrapper-global {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#slider-input-3:checked~.wrapper-global {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#slider-input-1:checked~.wrapper-global #slide1,
#slider-input-2:checked~.wrapper-global #slide2,
#slider-input-3:checked~.wrapper-global #slide3 {
  display: block;
}

#slider-input-1:checked~.wrapper-global label[for="slider-input-1"],
#slider-input-2:checked~.wrapper-global label[for="slider-input-2"],
#slider-input-3:checked~.wrapper-global label[for="slider-input-3"] {
  background-color: #ffffff;
}

.btn {
  border-radius: 30px;
  padding: 3px 10px;
  border: 0;
  cursor: pointer;
}

.btn-transparent {
  background-color: rgba(255, 255, 255, 0.3)
}

.btn-main {
  padding: 10px 22px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.btn-main:hover,
.btn-main:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background: #f28065;
}

.btn-main:active {
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.btn-main--for-slider {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 44px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  vertical-align: top;
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.promos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.promo-item {
  -ms-flex-preferred-size: 520px;
  flex-basis: 520px;
  padding: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 15px;
}

.promo-item--raspberry {
  background-color: #ca2e5a;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
}

.promo-item--chocolate {
  background-color: #422110;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
}

.promo-item__title {
  margin: 0;
  font-size: 35px;
  line-height: 31px;
}

.promo-item__desc {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 45px;
}

.promo-item__order {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -13px;
}

.catalog .catalog-item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.catalog-item__hover {
  display: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 385px;
  top: -5px;
  left: 0;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 300;
}

.catalog-item:hover .catalog-item__photo,
.catalog-item:focus .catalog-item__photo,
.catalog-item:hover .catalog-item__price,
.catalog-item:focus .catalog-item__price,
.catalog-item:hover .catalog-item__item-title,
.catalog-item:focus .catalog-item__item-title {
  z-index: 400;
}

.catalog-item:hover .catalog-item__hover,
.catalog-item:focus .catalog-item__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog .catalog-item__photo img {
  border-radius: 50%;
}

.catalog .catalog-item__photo--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/hit.svg");
  z-index: 10;
}

.catalog .catalog-item__photo,
.catalog .catalog-item__item-title,
.catalog-item__price {
  position: relative;
}

.catalog .catalog-item__item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
  margin-top: 15px;
}

.catalog-item__price {
  margin: 0;
  padding: 0 15px;
  margin-top: -62px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.catalog-item__price span {
  font-size: 30px;
}

.catalog-item .catalog-item__quick-view {
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.features {
  padding: 23px;
  margin-bottom: 45px;
  color: #323232;
  border-radius: 15px;
  background-color: #ebdfc3;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: repeat;
}

.features .features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features .features__intro {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .features__item {
  -ms-flex-preferred-size: 482px;
  flex-basis: 482px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-left: 60px;
}

.features .features__item::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features .features__item--production::before {
  background-image: url("../img/ice-cream.svg");
}

.features .features__item--ingredients::before {
  background-image: url("../img/eco.svg");
}

.features .features__item--cooperation::before {
  background-image: url("../img/cow.svg");
}

.features .features__item--delivery::before {
  background-image: url("../img/thermometer.svg");
}

.block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new-article {
  -ms-flex-preferred-size: 514px;
  flex-basis: 514px;
  padding: 23px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/new-article-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border-radius: 15px;
}

.new-article__intro {
  margin: 0;
  padding: 0;
}

.new-article__title {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.new-article__title a {
  color: #323232;
  border-bottom: 2px solid #323232;
}

.new-article__title a:hover,
.new-article__title a:focus {
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.subscription {
  -ms-flex-preferred-size: 512px;
  flex-basis: 560px;
  background-image: -webkit-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  background-image: -o-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  background-image: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  border-radius: 15px;
}

.subscription fieldset {
  border: none;
}

.subscription__form {
  color: #5a5a5a;
  background-color: #f8f7f4;
  padding: 20px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.subscription__intro {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
}

.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 12px;
  width: 100%;
  font: inherit;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.field:hover {
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(178, 178, 178, 0.5), inset -1px -1px 0px 0px rgba(178, 178, 178, 0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(178, 178, 178, 0.5), inset -1px -1px 0px 0px rgba(178, 178, 178, 0.5);
}

.field:active,
.field:focus {
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(46, 136, 228, 0.5), inset -1px -1px 0px 0px rgba(46, 136, 228, 0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(46, 136, 228, 0.5), inset -1px -1px 0px 0px rgba(46, 136, 228, 0.5);
  border: solid 1px rgba(46, 136, 228, 0.5);
  color: #323232;
  font-weight: 700;
}

.subscription__wrapper .field {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 10px;
}

.map {
  min-height: 430px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contact-info {
  position: absolute;
  top: 60px;
  right: 28px;
  -ms-flex-preferred-size: 252px;
  width: 252px;
  padding: 18px 26px;
  padding-bottom: 30px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  background-color: #fefefe;
  border-radius: 15px;
  z-index: 100;
}

.contact-info__address,
.contact-info__tel {
  margin-bottom: 5px;
}

.contact-info__contact-form {
  margin-top: 20px;
  display: block;
}

.contact-info span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 12px;
}

.social-links__item svg {
  opacity: 0.8;
}

.social-links__item:hover,
.social-links__item:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-links__item:hover svg,
.social-links__item:focus svg {
  opacity: 1;
}

.social-links__item:active svg {
  opacity: 0.7;
}

.page-header__logo,
.academy-logo {
  border: 0;
}

.useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.useful-links__left-column,
.useful-links__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.useful-links,
.social-links,
.slider__list {
  list-style: none;
}

.useful-links__item {
  border: 0;
  margin-top: 6px;
}

.useful-links__item:hover span,
.useful-links__item:focus span {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.useful-links__item--favorite {
  font-weight: 700;
  position: relative;

}

.useful-links__item--favorite::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/heart.svg");
}

.copyright p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.copyright__developed-by a:focus {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

@-webkit-keyframes feedback-open-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes feedback-open-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal__background {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal__background--show {
  display: block;
  -webkit-animation: feedback-open-animation 0.6s;
  animation: feedback-open-animation 0.6s;
}

.feedback {
  width: 428px;
  padding: 16px 25px;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback__name,
.feedback__email {
  width: 267px;
}

.feedback__send-button {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  margin-left: auto;
  margin-top: 30px;
}

.feedback input {
  margin-bottom: 20px;
}

@-webkit-keyframes feedback-error-animation {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes feedback-error-animation {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.email-error,
.text-error {
  -webkit-animation: feedback-error-animation 1s;
  animation: feedback-error-animation 1s;
}

.modal__title {
  padding: 0;
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__item--active .active {
  padding: 6px 16px;
  background-color: #d07058;
  border-radius: 20px;
}

.main-nav__item--active span {
  border: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 18px;
}

.breadcrumbs__item::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -10px;
  width: 22px;
  height: 20px;
}

.breadcrumbs__item--current::after {
  display: none;
}

.btn-transparent--cart-with-goods {
  background-color: #ffffff;
}

.btn-transparent--cart-with-goods span {
  color: #323232;
}

.breadcrumbs__item {
  margin-right: 5px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 0;
}

.main-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 500;
}

.main-filter .btn-transparent {
  padding: 7px 18px;
  cursor: default;
}

.main-filter legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  padding-left: 16px;
}

.main-filter fieldset {
  border: none;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main-filter label {
  line-height: 18px;
  cursor: pointer;
}

.fatness>.btn,
.topping>.btn {
  padding-right: 0;
}

.price__range-controls {
  width: 176px;
  position: relative;
}

.price__range-scale {
  height: 4px;
  margin-top: 9px;
  margin-bottom: 9px;
  background: rgba(255, 255, 255, 0.3);
}

.price__range-bar {
  width: 100px;
  position: absolute;
  left: 45px;
  height: 4px;
  background: #ffffff;
}

.price__range-toggle {
  position: absolute;
  top: 9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.price__range-toggle--min {
  left: 35px;
}

.price__range-toggle--max {
  left: 135px;
}

.price__range-toggle:hover,
.price__range-toggle:focus {
  border: 9px solid #ffffff;
}

.sorting {
  position: relative;
}

.sorting__inner {
  width: 155px;
  overflow: hidden;
}

.sorting select:focus-within .sorting-inner {
  background-color: #ffffff;
}

.sorting select {
  color: #ffffff;
  font-weight: 500;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
}

.sorting .sorting__arrow {
  position: absolute;
  bottom: 3px;
  right: 6px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.sorting:hover .sorting__inner,
.sorting:hover select {
  color: #000000;
  cursor: pointer;
}

.sorting:focus-within .sorting__inner,
.sorting:focus-within select {
  background-color: #ffffff;
  color: #000000;
}

.sorting:hover .sorting__arrow {
  cursor: pointer;
  background-image: url("../img/icon-down-dir-black.svg");
  pointer-events: none;
}

.sorting:active .sorting__arrow,
.sorting:focus-within .sorting__arrow {
  cursor: pointer;
  background-image: url("../img/select-arrow.svg");
}

.fatness label,
.topping label {
  position: relative;
  padding-left: 30px;
  padding-right: 15px;
}

.fatness input[type="radio"]+label::before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: -2px;
  left: 0;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 18px;
}

.fatness input[type="radio"]:checked+label::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0, 8;
}

.fatness input[type="radio"]+label:hover::before,
.fatness input[type="radio"]+label:focus::before {
  border: 4px solid rgba(255, 255, 255, 1);
}

.fatness input[type="radio"]+label:hover::after,
.fatness input[type="radio"]+label:focus::after {
  background-color: rgba(255, 255, 255, 1);
}

.topping input[type="checkbox"]+label::before,
.topping input[type="checkbox"]:checked+label::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: -2px;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.topping input[type="checkbox"]+label::before {
  background-image: url("../img/checkbox-off.svg");
}

.topping input[type="checkbox"]:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.topping input[type="checkbox"]+label:hover::before,
.topping input[type="checkbox"]:checked+label:hover::before,
.topping input[type="checkbox"]+label:focus::before,
.topping input[type="checkbox"]:checked+label:focus::before {
  opacity: 1;
}

.fatness input[type="radio"]:disabled+label::before,
.topping input[type="checkbox"]:disabled+label::before {
  cursor: default;
  opacity: 0.4;
}

.pagination {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 30px;
  list-style: none;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 27px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 2px;
  border: none;
}

.pagination__item--next {
  margin-right: -7px;
  margin-left: 0;
}

.pagination__item--current {
  color: #000000;
  background-color: #ffffff;
}

.pagination__item:hover,
.pagination__item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination__item--current:hover,
.pagination__item--current:focus,
.pagination__item--current:focus-within,
.pagination__item:active {
  color: #000000;
  background-color: #ffffff;
}

.pagination__item--back svg {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  opacity: 0.2;
}

.pagination__item--back {
  cursor: default;
}

.pagination__item--back:hover,
.pagination__item--next:hover,
.pagination__item--back:focus,
.pagination__item--next:focus,
.pagination__item--back:active,
.pagination__item--next:active {
  background-color: transparent;
}

.pagination__item::last-child {
  margin-right: 0;
}

.main-filter .btn-transparent--filter-btn {
  color: #ffffff;
  font-weight: 500;
  border: solid 2px #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  padding-right: 28px;
  padding-left: 28px;
}

.btn-transparent--filter-btn:hover,
.btn-transparent--filter-btn:focus {
  color: #323232;
  border: solid 2px #ffffff;
  background-color: #ffffff;
}

.btn-transparent--filter-btn:active {
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border: 0;
  padding: 9px 30px;
  padding-top: 10px;
}
